<!--<ion-nav-bar></ion-nav-bar>-->
<ion-view view-title="" >
   <ion-nav-bar >
       <div class="row">
           <div class="col">
              <button class="button button-icon icon  ion-chevron-left" ng-click="goBack()"></button>
           </div>
           <div class="col">
              <button class="button" ng-click="updateItem(item1._id)">Edit</button>
           </div>
           <div class="col">
                  <button class="button" style="color:red" ng-click="delItem(item1._id)">Delete</button>
           </div>
       </div>
       <!--<ion-nav-buttons side="left">
           <button class="button button-icon icon  ion-chevron-left" ng-click="goBack()"></button>
       </ion-nav-buttons>
       <ion-nav-buttons center>
            <button class="button" ng-click="editItem()">Edit</button>
       </ion-nav-buttons>
       <ion-nav-buttons side="right">
            <button class="button" style="color:red" ng-click="delItem()">Delete</button>
       </ion-nav-buttons>-->
  </ion-nav-bar>
     <ion-content class="padding">
        <h2 class="myheader">
            {{'Chef: ' + item1.user}}
        </h2>
        <br />
        <p>
            <h2 class="title1">
                {{item1.item.name}}   <br />
                <br />
                {{item1.item.price|currency}}
                <br />
            </h2>
            <img ng-src="{{item1.item.src}}" style="width: 64px; height: 64px">

            <div class="myheader" ng-show="{{item1.item.description > ' '}}">
                {{item1.item.description}} <br /><br />
            </div>

            <!--Rating-->
            <table>
                <tr>
                    <td ng-repeat="num in [1, 2, 3, 4, 5]" ng-init="Ind = $index">
                        <div ng-if="Ind < item1.item.rating">
                            <img ng-src="star.jpg" style="width: 32px; height: 32px">
                        </div>
                        <div ng-if="Ind >= item1.item.rating">
                            <img ng-src="starempty.png" style="width: 32px; height: 32px">
                        </div>
                    </td>
                </tr>
            </table>

            Cuisine:     {{item1.item.cuisine}} <br />
            Spice Level: {{item1.item.spice_level}} <br />

            <div ng-if="item1.item.vegetarian == true">
                Vegetarian <br />
            </div>
            <div ng-if="recipe.vegetarian == false">
                Non-vegetarian <br />
            </div>

            <div ng-if="item1.item.vegan == true">
                Vegan <br />
            </div>
            <div ng-if="item1.item.vegan == false">
                Non-vegan <br />
            </div>

            <div ng-if="item1.item.nuts == true">
                Nuts <br />
            </div>
            <div ng-if="item1.item.nuts == false">
                No nuts <br />
            </div>
        </p>
    </ion-content>
</ion-view>
